@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

body {
  font-family: 'Proxima Nova', sans-serif;                                             
}

.group_card {
  justify-content: space-between;
}

.group_card:hover {
   background-color: #ececec;
}

li.nav-item {
  list-style-type: none;
}

header.headercontainer {
  text-align: center;
  background-color: #3778c2;
  padding: 15px;
}

.actions.form-group {
  background-color: #3778c2;
  margin: 20px 0;
  width: 85px;
}

.border {
  margin-top: 20px;
}

.btn.btn-success {
  background-color: #5fb523;
}

.color-white {
  color: white;
}

.color-primary-bg {
  background-color: #3778c2;
}

.color-text {
  color: #434b54;
}

.ml-1 {
 margin-left: 1rem;
}

.links {
  text-decoration: none !important;
}

.color-text-second {
  color: #7e7e7f;
}